@font-face {
    font-family: Jersey;
    src: url('../font/JerseyM54-aLX9.ttf');
}

.lapNode{
    width: 50%;
    overflow: scroll;
    max-height: 98vh;
    scroll-behavior: smooth;
    text-align: center;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
    display: none;
}

.lap{
    display: flex;
    position: relative;
    align-items: center;
}

.lap::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    background: white;
    top: 0;
}

.lapTag{

   border: 1px solid white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 120%;
   overflow: hidden;
   min-width: 150px;
   max-width: 160px;
   max-height: 30px;
   margin-left: 7px;
}

p{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium';
}
